<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../campus-core-class/campus-core-class-picker.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-student-picker`
@demo demo/campus-core-student-picker.html
-->
<dom-module id="campus-core-student-picker">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .037);
            cursor: pointer;
        }
        
        :host paper-dropdown-menu paper-menu {
            --paper-menu: {
                padding: 0;
                min-width: 100px;
                max-height: 320px;
            }
        }
        
        :host .cell-item {
            margin: 4px 8px;
            flex: 1 1 120px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap">
            <campus-core-class-picker id="classPicker" selected="[[clazz.label]]" class="cell-item"></campus-core-class-picker>
            <paper-dropdown-menu label="[[translate._01]]" class="cell-item">
                <paper-menu class="dropdown-content" selected="{{selected}}" attr-for-selected="value">
                    <template is="dom-repeat" items="[[_items]]">
                        <paper-item class="layout horizontal center" value="[[item.Name]]" on-tap="_selectItem">
                            [[item.SeatNo]] [[item.Name]]
                        </paper-item>
                    </template>
                </paper-menu>
            </paper-dropdown-menu>
        </div>
    </template>
    <script>
        Polymer({
            is: 'campus-core-student-picker',

            properties: {
                selected: {
                    type: String
                },
                /*
                 * 取得學生清單
                 */
                items: {
                    type: Array,
                    readOnly: true
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'zh-tw': {
                        '_01': '學生'
                    },
                    'zh-cn': {
                        '_01': '学生'
                    },
                    'en-us': {
                        '_01': 'Student'
                    },
                    'vi-vn': {
                        '_01': 'Học sinh'
                    }
                });

                this.$.classPicker.addEventListener('changed', function(e) {
                    e.stopPropagation();

                    this.set('clazz', e.detail);
                    this._getItems();
                }.bind(this));
            },

            _getItems: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.GetAbstractList',
                    body: ['<Request><Field><ID/><Name/><Gender/><StudentNumber/><SeatNo/></Field><Condition>', (function() {
                        if (this.clazz.id === 'nonclass')
                            return '<Status>一般</Status><RefClassID></RefClassID>';
                        else if (this.clazz.id === 'deleted')
                            return '<Status>刪除</Status>';
                        else
                            return ['<Status>一般</Status><RefClassID>', this.clazz.id, '</RefClassID>'].join('');
                    }.bind(this))(), '</Condition><Order><SeatNo/></Order></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.StudentList) {
                        var items = [].concat(response.StudentList.Student || []);
                        items.sort(function(x, y) {
                            return Math.ceil(x.SeatNo) - Math.ceil(y.SeatNo);
                        });

                        this.set('_items', items);
                        this._setItems(items);
                    } else
                        this.set('items', []);

                    if (this.items.length > 0) {
                        this.set('selected', this.items[0].Name);
                        this.fire('changed', {
                            id: this.items[0].$.ID,
                            label: this.items[0].Name,
                            target: this.items[0]
                        });
                    }
                }.bind(this));
            },

            _selectItem: function(e) {
                this.fire('changed', {
                    id: e.model.item.$.ID,
                    label: e.model.item.Name,
                    target: e.model.item
                });
            }
        });

        /*
         * 每當清單中的選項被選取時，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
