<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-student-phone`
@demo demo/campus-core-student-phone.html
-->
<dom-module id="campus-core-student-phone">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
        
        :host .cell-container {
            padding: 16px 8px;
        }
        
        :host .cell-item {
            padding: 0 8px;
            flex: 1 1 220px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:done" on-tap="_saveInfo"></paper-icon-button>
            <paper-icon-button class="tpib" icon="icons:refresh" on-tap="_refreshInfo"></paper-icon-button>
        </div>
        <paper-material style="background:#fff">
            <div class="layout horizontal wrap cell-container">
                <div class="layout vertical cell-item">
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._02]]" value="{{student.PermanentPhone}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._03]]" value="{{student.ContactPhone}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._04]]" value="{{student.SMSPhone}}"></paper-input>
                    </div>
                </div>
                <div class="layout vertical cell-item">
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._05]] 1" value="{{student.OtherPhone1}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._05]] 2" value="{{student.OtherPhone2}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._05]] 3" value="{{student.OtherPhone3}}"></paper-input>
                    </div>
                </div>
                <div class="layout vertical cell-item"></div>
                <div class="layout vertical cell-item"></div>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "campus-core-student-phone",

            properties: {
                /*
                 * 編輯的學生
                 */
                student: {
                    type: Object,
                    observer: '_studentChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '電話資料',
                        '_02': '戶籍',
                        '_03': '聯絡',
                        '_04': '手機',
                        '_05': '其他',
                        '_12': '更新完成!',
                        '_13': '更新失敗! 請確認資料是否正確!'
                    },
                    'zh-cn': {
                        '_01': '电话资料',
                        '_02': '户籍',
                        '_03': '联络',
                        '_04': '手机',
                        '_05': '其他',
                        '_12': '更新完成!',
                        '_13': '更新失败! 请确认资料是否正确!'
                    },
                    'en-us': {
                        '_01': 'Phone',
                        '_02': 'Permanent',
                        '_03': 'Contact',
                        '_04': 'Mobile',
                        '_05': 'Other',
                        '_12': 'Update completed!',
                        '_13': 'Update failed!'
                    }
                });
            },

            _studentChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this._getInfo();
            },

            _getInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.GetDetailList',
                    body: ['<Request><Field><PermanentPhone/><ContactPhone/><SMSPhone/><OtherPhone/></Field><Condition><ID>', this.student.id, '</ID></Condition></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.StudentList) {
                        var item = [].concat(response.StudentList.Student || [])[0];
                        this.set('student.PermanentPhone', item.PermanentPhone);
                        this.set('student.ContactPhone', item.ContactPhone);
                        this.set('student.SMSPhone', item.SMSPhone);
                        this.set('student.OtherPhone1', item.OtherPhone ? item.OtherPhone.PhoneList.PhoneNumber[0] : '');
                        this.set('student.OtherPhone2', item.OtherPhone ? item.OtherPhone.PhoneList.PhoneNumber[1] : '');
                        this.set('student.OtherPhone3', item.OtherPhone ? item.OtherPhone.PhoneList.PhoneNumber[2] : '');
                    }
                }.bind(this));
            },

            _saveInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.QuickUpdate',
                    body: {
                        Request: {
                            Student: {
                                Field: {
                                    PermanentPhone: this.student.PermanentPhone,
                                    ContactPhone: this.student.ContactPhone,
                                    SMSPhone: this.student.SMSPhone,
                                    OtherPhones: {
                                        PhoneList: {
                                            PhoneNumber: [this.student.OtherPhone1, this.student.OtherPhone2, this.student.OtherPhone3]
                                        }
                                    }
                                },
                                Condition: {
                                    ID: this.student.id
                                }
                            }
                        }
                    }
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._12,
                            duration: 1000
                        });
                    } else {
                        this.$.toast.show({
                            text: this.translate._13,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _refreshInfo: function() {
                this._getInfo();
            }
        });
    </script>
</dom-module>
