<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="campus-core-student-code.html">
<link rel="import" href="campus-core-student-detail.html">
<link rel="import" href="campus-core-student-import.html">
<!--
`campus-core-student`
@demo demo/campus-core-student.html
-->
<dom-module id="campus-core-student">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }

        :host .header {
            max-width: 768px;
        }

        :host .content {
            max-width: 768px;
        }
        
        @media (min-width: 769px) {
            :host .header {
                padding: 0 16px;
                margin: 0 auto;
            }
            :host .content {
                padding: 12px;
                margin: 0 auto;
            }
        }
    </style>
    <template>
        <paper-header-panel mode="waterfall">
            <paper-toolbar>
                <paper-tabs class="flex-auto header" selected="{{page}}" no-bar scrollable>
                    <paper-tab>{{translate._01}}</paper-tab>
                    <paper-tab>{{translate._02}}</paper-tab>
                    <paper-tab>{{translate._03}}</paper-tab>
                </paper-tabs>
            </paper-toolbar>
            <iron-pages class="content" selected="{{page}}">
                <campus-core-student-detail></campus-core-student-detail>
                <campus-core-student-import></campus-core-student-import>
                <campus-core-student-code></campus-core-student-code>
            </iron-pages>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
            is: "campus-core-student",

            properties: {
                /*
                 * 學生 (zh-tw), 学生 (zh-cn), Student (en-us), Học sinh (vi-vn)
                 */
                title: {
                    type: Object,
                    readOnly: true
                },
                page: {
                    type: Number,
                    value: 0
                }
            },

            behaviors: [Campus.TranslateBehavior],

            ready: function() {
                this._setTitle({
                    'zh-tw': '學生',
                    'zh-cn': '学生',
                    'en-us': 'Student',
                    'vi-vn': 'Học sinh'
                });

                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_00': '學生',
                        '_01': '學生資料',
                        '_02': '批次處理',
                        '_03': '代碼管理'
                    },
                    'zh-cn': {
                        '_00': '学生',
                        '_01': '学生资料',
                        '_02': '批次处理',
                        '_03': '代码管理'
                    },
                    'en-us': {
                        '_00': 'Student',
                        '_01': 'Add',
                        '_02': 'Batch',
                        '_03': 'Code'
                    },
                    'vi-vn': {
                        '_00': 'Học sinh',
                        '_01': 'Add',
                        '_02': 'Batch',
                        '_03': 'Code'
                    }
                });
            }
        });
    </script>
</dom-module>
