<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-student-parent`
@demo demo/campus-core-student-parent.html
-->
<dom-module id="campus-core-student-parent">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
        
        :host .cell-container {
            padding: 16px 8px;
        }

        :host .cell-item {
            padding: 0 8px;
            flex: 1 1 220px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:done" on-tap="_saveInfo"></paper-icon-button>
            <paper-icon-button class="tpib" icon="icons:refresh" on-tap="_refreshInfo"></paper-icon-button>
        </div>
        <paper-material style="background:#fff">
            <div class="layout horizontal wrap cell-container">
                <div class="layout vertical cell-item">
                    <div class="dark-primary-text-color" style="font-size:20px">[[translate._09]]</div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._02]]" value="{{student.FatherName}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-dropdown-menu label="[[translate._07]]" style="width:80px">
                            <paper-menu class="dropdown-content" selected="{{student.FatherLiving}}" attr-for-selected="value">
                                <paper-item value="1">[[translate._14]]</paper-item>
                                <paper-item value="0">[[translate._15]]</paper-item>
                            </paper-menu>
                        </paper-dropdown-menu>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._16]]" value="{{student.FatherPhone}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._17]]" value="{{student.FatherEmail}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._03]]" value="{{student.FatherIDNumber}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._04]]" value="{{student.FatherNationality}}"></paper-input>
                    </div>
                    <div class="layout horizontal center">
                        <paper-input class="flex" label="[[translate._05]]" value="{{student.FatherEducationDegree}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-input class="flex" label="[[translate._06]]" value="{{student.FatherJob}}"></paper-input>
                    </div>
                </div>
                <div class="layout vertical cell-item">
                    <div class="dark-primary-text-color" style="font-size:20px">[[translate._10]]</div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._02]]" value="{{student.MotherName}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-dropdown-menu label="[[translate._07]]" style="width:80px">
                            <paper-menu class="dropdown-content" selected="{{student.MotherLiving}}" attr-for-selected="value">
                                <paper-item value="1">[[translate._14]]</paper-item>
                                <paper-item value="0">[[translate._15]]</paper-item>
                            </paper-menu>
                        </paper-dropdown-menu>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._16]]" value="{{student.MotherPhone}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._17]]" value="{{student.MotherEmail}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._03]]" value="{{student.MotherIDNumber}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._04]]" value="{{student.MotherNationality}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._05]]" value="{{student.MotherEducationDegree}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-input class="flex" label="[[translate._06]]" value="{{student.MotherJob}}"></paper-input>
                    </div>
                </div>
                <div class="layout vertical cell-item">
                    <div class="dark-primary-text-color" style="font-size:20px">[[translate._11]]</div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._02]]" value="{{student.CustodianName}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-input style="width:80px" label="[[translate._08]]" value="{{student.CustodianRelationship}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._16]]" value="{{student.CustodianPhone}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._17]]" value="{{student.CustodianEmail}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._03]]" value="{{student.CustodianIDNumber}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._04]]" value="{{student.CustodianNationality}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._05]]" value="{{student.CustodianEducationDegree}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-input class="flex" label="[[translate._06]]" value="{{student.CustodianJob}}"></paper-input>
                    </div>
                </div>
                <div class="layout vertical cell-item"></div>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "campus-core-student-parent",

            properties: {
                /*
                 * 編輯的學生
                 */
                student: {
                    type: Object,
                    observer: '_studentChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '父母親及監護人資料',
                        '_02': '姓名',
                        '_03': '身分證號',
                        '_04': '國籍',
                        '_05': '教育程度',
                        '_06': '職業',
                        '_07': '存歿',
                        '_08': '關係',
                        '_09': '父親',
                        '_10': '母親',
                        '_11': '監護人',
                        '_12': '更新完成!',
                        '_13': '更新失敗! 請確認資料是否正確!',
                        '_14': '存',
                        '_15': '歿',
                        '_16': '電話',
                        '_17': '電子郵件'
                    },
                    'zh-cn': {
                        '_01': '父母亲及监护人资料',
                        '_02': '姓名',
                        '_03': '身份证号',
                        '_04': '国籍',
                        '_05': '教育程度',
                        '_06': '职业',
                        '_07': '存歿',
                        '_08': '关系',
                        '_09': '父亲',
                        '_10': '母亲',
                        '_11': '监护人',
                        '_12': '更新完成!',
                        '_13': '更新失败! 请确认资料是否正确!',
                        '_14': '存',
                        '_15': '殁',
                        '_16': '电话',
                        '_17': '电子邮件'
                    },
                    'en-us': {
                        '_01': 'Parents and Custodian',
                        '_02': 'Name',
                        '_03': 'Identity Number',
                        '_04': 'Nationality',
                        '_05': 'Education',
                        '_06': 'Occupation',
                        '_07': 'Living',
                        '_08': 'Relationship',
                        '_09': 'Father',
                        '_10': 'Mother',
                        '_11': 'Custodian',
                        '_12': 'Update completed!',
                        '_13': 'Update failed!',
                        '_14': 'Living',
                        '_15': 'Dead',
                        '_16': 'Phone',
                        '_17': 'Email'
                    }
                });
            },

            _studentChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this._getInfo();
            },

            _getInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.GetParentInfo',
                    body: [
                        '<Request><Field><FatherName/><FatherIDNumber/><FatherNationality/><FatherLiving/><FatherOtherInfo/><MotherName/><MotherIDNumber/><MotherNationality/><MotherLiving/><MotherOtherInfo/><CustodianName/><CustodianIDNumber/><CustodianNationality/><CustodianRelationship/><CustodianOtherInfo/></Field><Condition><ID>',
                        this.student.id, '</ID></Condition></Request>'
                    ].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.ParentInfo) {
                        var item = response.ParentInfo;
                        this.set('student.FatherName', item.FatherName);
                        this.set('student.FatherIDNumber', item.FatherIDNumber);
                        this.set('student.FatherNationality', item.FatherNationality);
                        this.set('student.FatherLiving', item.FatherLiving ? item.FatherLiving === '存' ? 1 : 0 : 1);
                        this.set('student.FatherEducationDegree', item.FatherOtherInfo ? item.FatherOtherInfo.EducationDegree : '');
                        this.set('student.FatherJob', item.FatherOtherInfo ? item.FatherOtherInfo.Job : '');
                        this.set('student.FatherPhone', item.FatherOtherInfo ? item.FatherOtherInfo.Phone : '');
                        this.set('student.FatherEmail', item.FatherOtherInfo ? item.FatherOtherInfo.Email : '');
                        this.set('student.MotherName', item.MotherName);
                        this.set('student.MotherIDNumber', item.MotherIDNumber);
                        this.set('student.MotherNationality', item.MotherNationality);
                        this.set('student.MotherLiving', item.MotherLiving ? item.MotherLiving === '存' ? 1 : 0 : 1);
                        this.set('student.MotherEducationDegree', item.MotherOtherInfo ? item.MotherOtherInfo.EducationDegree : '');
                        this.set('student.MotherJob', item.MotherOtherInfo ? item.MotherOtherInfo.Job : '');
                        this.set('student.MotherPhone', item.MotherOtherInfo ? item.MotherOtherInfo.Phone : '');
                        this.set('student.MotherEmail', item.MotherOtherInfo ? item.MotherOtherInfo.Email : '');
                        this.set('student.CustodianName', item.CustodianName);
                        this.set('student.CustodianIDNumber', item.CustodianIDNumber);
                        this.set('student.CustodianNationality', item.CustodianNationality);
                        this.set('student.CustodianRelationship', item.CustodianRelationship);
                        this.set('student.CustodianEducationDegree', item.CustodianOtherInfo ? item.CustodianOtherInfo.EducationDegree : '');
                        this.set('student.CustodianJob', item.CustodianOtherInfo ? item.CustodianOtherInfo.Job : '');
                        this.set('student.CustodianPhone', item.CustodianOtherInfo ? item.CustodianOtherInfo.Phone : '');
                        this.set('student.CustodianEmail', item.CustodianOtherInfo ? item.CustodianOtherInfo.Email : '');
                    }
                }.bind(this));
            },

            _saveInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.QuickUpdate',
                    body: {
                        Request: {
                            Student: {
                                Field: {
                                    FatherName: this.student.FatherName,
                                    FatherIDNumber: this.student.FatherIDNumber,
                                    FatherNationality: this.student.FatherNationality,
                                    FatherLiving: this.student.FatherLiving === '1',
                                    FatherOtherInfo: {
                                        FatherOtherInfo: {
                                            Relationship: 'Father',
                                            EducationDegree: this.student.FatherEducationDegree,
                                            Job: this.student.FatherJob,
                                            Phone: this.student.FatherPhone,
                                            Email: this.student.FatherEmail
                                        }
                                    },
                                    MotherName: this.student.MotherName,
                                    MotherIDNumber: this.student.MotherIDNumber,
                                    MotherNationality: this.student.MotherNationality,
                                    MotherLiving: this.student.MotherLiving === '1',
                                    MotherOtherInfo: {
                                        MotherOtherInfo: {
                                            Relationship: 'Mother',
                                            EducationDegree: this.student.MotherEducationDegree,
                                            Job: this.student.MotherJob,
                                            Phone: this.student.MotherPhone,
                                            Email: this.student.MotherEmail
                                        }
                                    },
                                    CustodianName: this.student.CustodianName,
                                    CustodianIDNumber: this.student.CustodianIDNumber,
                                    CustodianNationality: this.student.CustodianNationality,
                                    CustodianRelationship: this.student.CustodianRelationship,
                                    CustodianOtherInfo: {
                                        CustodianOtherInfo: {
                                            Relationship: this.student.CustodianRelationship,
                                            EducationDegree: this.student.CustodianEducationDegree,
                                            Job: this.student.CustodianJob,
                                            Phone: this.student.CustodianPhone,
                                            Email: this.student.CustodianEmail
                                        }
                                    }
                                },
                                Condition: {
                                    ID: this.student.id
                                }
                            }
                        }
                    }
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._12,
                            duration: 1000
                        });
                    } else {
                        this.$.toast.show({
                            text: this.translate._13,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _refreshInfo: function() {
                this._getInfo();
            }
        });
    </script>
</dom-module>
