<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/maps-icons.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="../google-map/google-map.html">
<link rel="import" href="../google-map/google-map-search.html">
<link rel="import" href="../google-map/google-map-marker.html">
<!--
`campus-core-student-address`
@demo demo/campus-core-student-address.html
-->
<dom-module id="campus-core-student-address">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
        
        :host .cell-container {
            padding: 16px 8px;
        }

        :host .cell-item {
            padding: 0 8px;
            flex: 1 1 220px;
        }
        
        @media (min-width: 415px) {
            :host google-map {
                width: 300px;
                height: 400px;
            }
        }
        
        @media (max-width: 414px) {
            :host google-map {
                width: 210px;
                height: 280px;
            }
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:done" on-tap="_saveInfo" save></paper-icon-button>
            <paper-icon-button class="tpib" icon="icons:refresh" on-tap="_refreshInfo" refresh></paper-icon-button>
        </div>
        <paper-material style="background:#fff">
            <div class="layout horizontal wrap cell-container">
                <div class="layout vertical cell-item">
                    <div class="layout horizontal center">
                        <div class="dark-primary-text-color flex" style="font-size:20px">[[translate._02]]</div>
                        <paper-icon-button icon="maps:pin-drop" class="secondary-text-color" on-tap="_openMap" target="PA"></paper-icon-button>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._05]]" value="{{student.PA.ZipCode}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-input class="flex" label="[[translate._06]]" value="{{student.PA.County}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._07]]" value="{{student.PA.Town}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._08]]" value="{{student.PA.DetailAddress}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._09]]" value="{{student.PA.Latitude}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-input class="flex" label="[[translate._10]]" value="{{student.PA.Longitude}}"></paper-input>
                    </div>
                </div>
                <div class="layout vertical cell-item">
                    <div class="layout horizontal center">
                        <div class="dark-primary-text-color flex" style="font-size:20px">[[translate._03]]</div>
                        <paper-icon-button icon="maps:pin-drop" class="secondary-text-color" on-tap="_openMap" target="MA"></paper-icon-button>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._05]]" value="{{student.MA.ZipCode}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-input class="flex" label="[[translate._06]]" value="{{student.MA.County}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._07]]" value="{{student.MA.Town}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._08]]" value="{{student.MA.DetailAddress}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._09]]" value="{{student.MA.Latitude}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-input class="flex" label="[[translate._10]]" value="{{student.MA.Longitude}}"></paper-input>
                    </div>
                </div>
                <div class="layout vertical cell-item">
                    <div class="layout horizontal center">
                        <div class="dark-primary-text-color flex" style="font-size:20px">[[translate._04]]</div>
                        <paper-icon-button icon="maps:pin-drop" class="secondary-text-color" on-tap="_openMap" target="OA"></paper-icon-button>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._05]]" value="{{student.OA.ZipCode}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-input class="flex" label="[[translate._06]]" value="{{student.OA.County}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._07]]" value="{{student.OA.Town}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._08]]" value="{{student.OA.DetailAddress}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._09]]" value="{{student.OA.Latitude}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-input class="flex" label="[[translate._10]]" value="{{student.OA.Longitude}}"></paper-input>
                    </div>
                </div>
                <div class="layout vertical cell-item"></div>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog modal id="mapDialog">
            <paper-dialog-scrollable>
                <google-map-search map="[[map]]" query="[[gms_query]]" results="{{results}}"></google-map-search>
                <google-map map="{{map}}" zoom="16" api-key="AIzaSyAcaemCGFteOavykE0CXYt1g4pZcJIhUDo" language="[[language.default]]" fit-to-markers>
                    <template is="dom-repeat" items="{{results}}" as="marker">
                        <google-map-marker latitude="{{marker.latitude}}" longitude="{{marker.longitude}}">
                            <h4>{{marker.formatted_address}}</h4>
                        </google-map-marker>
                    </template>
                </google-map>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-icon-button icon="icons:clear" dialog-dismiss></paper-icon-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "campus-core-student-address",

            properties: {
                /*
                 * 編輯的學生
                 */
                student: {
                    type: Object,
                    observer: '_studentChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '地址資料',
                        '_02': '戶籍',
                        '_03': '通訊',
                        '_04': '其他',
                        '_05': '郵遞區號',
                        '_06': '縣市',
                        '_07': '鄉鎮市區',
                        '_08': '村里街號',
                        '_09': '緯度',
                        '_10': '經度',
                        '_12': '更新完成!',
                        '_13': '更新失敗! 請確認資料是否正確!',
                        '_14': '同戶籍',
                        '_15': '同通訊',
                        '_16': '同其他'
                    },
                    'zh-cn': {
                        '_01': '地址资料',
                        '_02': '户籍',
                        '_03': '通讯',
                        '_04': '其他',
                        '_05': '邮政编码',
                        '_06': '省市',
                        '_07': '乡镇市区',
                        '_08': '村里街号',
                        '_09': '纬度',
                        '_10': '经度',
                        '_12': '更新完成!',
                        '_13': '更新失败! 请确认资料是否正确!',
                        '_14': '同户籍',
                        '_15': '同通讯',
                        '_16': '同其他'
                    },
                    'en-us': {
                        '_01': 'Address',
                        '_02': 'Permanent',
                        '_03': 'Mailing',
                        '_04': 'Other',
                        '_05': 'Zip code',
                        '_06': 'County',
                        '_07': 'Town',
                        '_08': 'Street',
                        '_09': 'Latitude',
                        '_10': 'Longitude',
                        '_12': 'Update completed!',
                        '_13': 'Update failed!',
                        '_14': 'Same Permanent',
                        '_15': 'Same Mailing',
                        '_16': 'Same Other'
                    }
                })
            },

            _studentChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this._getInfo();
            },

            _getInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.GetDetailList',
                    body: ['<Request><Field><PermanentAddress/><MailingAddress/><OtherAddresses/></Field><Condition><ID>', this.student.id, '</ID></Condition></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.StudentList) {
                        var item = [].concat(response.StudentList.Student || [])[0];
                        item.PA = item.PermanentAddress ? item.PermanentAddress.AddressList.Address : {
                            ZipCode: '',
                            Town: '',
                            County: '',
                            DetailAddress: '',
                            Latitude: '',
                            Longitude: ''
                        };
                        item.MA = item.MailingAddress ? item.MailingAddress.AddressList.Address : {
                            ZipCode: '',
                            Town: '',
                            County: '',
                            DetailAddress: '',
                            Latitude: '',
                            Longitude: ''
                        };
                        item.OA = item.OtherAddresses ? item.OtherAddresses.AddressList.Address : {
                            ZipCode: '',
                            Town: '',
                            County: '',
                            DetailAddress: '',
                            Latitude: '',
                            Longitude: ''
                        };

                        this.set('student.PA', item.PA);
                        this.set('student.MA', item.MA);
                        this.set('student.OA', item.OA);
                    }
                }.bind(this));
            },

            _saveInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.QuickUpdate',
                    body: {
                        Request: {
                            Student: {
                                Field: {
                                    PermanentAddress: {
                                        AddressList: {
                                            Address: {
                                                ZipCode: this.student.PA.ZipCode || '',
                                                County: this.student.PA.County || '',
                                                Town: this.student.PA.Town || '',
                                                DetailAddress: this.student.PA.DetailAddress || '',
                                                Latitude: this.student.PA.Latitude || '',
                                                Longitude: this.student.PA.Longitude || ''
                                            }
                                        }
                                    },
                                    MailingAddress: {
                                        AddressList: {
                                            Address: {
                                                ZipCode: this.student.MA.ZipCode || '',
                                                County: this.student.MA.County || '',
                                                Town: this.student.MA.Town || '',
                                                DetailAddress: this.student.MA.DetailAddress || '',
                                                Latitude: this.student.MA.Latitude || '',
                                                Longitude: this.student.MA.Longitude || ''
                                            }
                                        }
                                    },
                                    OtherAddresses: {
                                        AddressList: {
                                            Address: {
                                                ZipCode: this.student.OA.ZipCode || '',
                                                County: this.student.OA.County || '',
                                                Town: this.student.OA.Town || '',
                                                DetailAddress: this.student.OA.DetailAddress || '',
                                                Latitude: this.student.OA.Latitude || '',
                                                Longitude: this.student.OA.Longitude || ''
                                            }
                                        }
                                    }
                                },
                                Condition: {
                                    ID: this.student.id
                                }
                            }
                        }
                    }
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._12,
                            duration: 1000
                        });
                    } else {
                        this.$.toast.show({
                            text: this.translate._13,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _refreshInfo: function() {
                this._getInfo();
            },

            _openMap: function(e) {
                var node = e.target;
                while (node.nodeName !== 'PAPER-ICON-BUTTON') {
                    node = node.parentNode;
                }
                var target = node.getAttribute('target');

                if (['PA', 'MA', 'OA'].indexOf(target) === -1) return;

                var query = '';
                if (target === 'PA') {
                    if (this.student.PA.Longitude && this.student.PA.Latitude)
                        query = [this.student.PA.Latitude, this.student.PA.Longitude].join(',')
                    else
                        query = [this.student.PA.County, this.student.PA.Town, this.student.PA.DetailAddress].join('');
                } else if (target === 'MA') {
                    if (this.student.MA.Longitude && this.student.MA.Latitude)
                        query = [this.student.MA.Latitude, this.student.MA.Longitude].join(',')
                    else
                        query = [this.student.MA.County, this.student.MA.Town, this.student.MA.DetailAddress].join('');
                } else if (target === 'OA') {
                    if (this.student.OA.Longitude && this.student.OA.Latitude)
                        query = [this.student.OA.Latitude, this.student.OA.Longitude].join(',')
                    else
                        query = [this.student.OA.County, this.student.OA.Town, this.student.OA.DetailAddress].join('');
                }

                if (query !== '') {
                    this.set('gms_query', query);
                    this.$.mapDialog.open();
                }
            }
        });
    </script>
</dom-module>
