<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-student-relationship`
@demo demo/campus-core-student-relationship.html
-->
<dom-module id="campus-core-student-relationship">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
        
        :host .cell-container {
            padding: 16px 8px;
        }
        
        :host .cell-item {
            padding: 0 8px;
            flex: 1 1 220px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:add" on-tap="_showDialog"></paper-icon-button>
            <paper-icon-button class="tpib" icon="icons:refresh" on-tap="_getItems"></paper-icon-button>
        </div>
        <paper-material style="background:#fff">
            <div class="layout horizontal wrap cell-container">
                <template is="dom-repeat" items="[[items]]">
                    <div class="layout vertical cell-item">
                        <div class="layout horizontal center">
                            <paper-input label="[[translate._05]]" value="[[item.RelationName]]" readonly></paper-input>
                            <div class="flex"></div>
                            <paper-icon-button icon="icons:delete" class="secondary-text-color" on-tap="_removeItem"></paper-icon-button>
                        </div>
                        <div class="layout horizontal">
                            <paper-input class="flex" label="[[translate._03]]" value="[[item.LastName]]" readonly></paper-input>
                            <div style="width:16px"></div>
                            <paper-input class="flex" label="[[translate._04]]" value="[[item.FirstName]]" readonly></paper-input>
                        </div>
                        <div class="layout horizontal">
                            <paper-input class="flex" label="[[translate._02]]" value="[[item.LinkAccount]]" readonly></paper-input>
                        </div>
                    </div>
                </template>
                <template is="dom-repeat" items="[[spaces]]">
                    <div class="layout vertical cell-item"></div>
                </template>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog modal id="dialog" on-iron-overlay-closed="_dismissDialog">
            <paper-dialog-scrollable>
                <paper-input label="[[translate._02]]" value="{{modify.LinkAccount}}" class="flex"></paper-input>
                <paper-input label="[[translate._03]]" value="{{modify.LastName}}" class="flex"></paper-input>
                <paper-input label="[[translate._04]]" value="{{modify.FirstName}}" class="flex"></paper-input>
                <paper-input label="[[translate._05]]" value="{{modify.RelationName}}" class="flex"></paper-input>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>[[translate._06]]</paper-button>
                <paper-button dialog-confirm>[[translate._07]]</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "campus-core-student-relationship",

            properties: {
                /*
                 * 編輯的學生
                 */
                student: {
                    type: Object,
                    observer: '_studentChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '家長連結',
                        '_02': '帳號',
                        '_03': '姓氏',
                        '_04': '名字',
                        '_05': '關係',
                        '_06': '取消',
                        '_07': '確定'
                    },
                    'zh-cn': {
                        '_01': '家长关联',
                        '_02': '帐号',
                        '_03': '姓氏',
                        '_04': '名字',
                        '_05': '关系',
                        '_06': '取消',
                        '_07': '确定'
                    },
                    'en-us': {
                        '_01': 'Parents',
                        '_02': 'Account',
                        '_03': 'Last Name',
                        '_04': 'First Name',
                        '_05': 'Relationship',
                        '_06': 'Cancel',
                        '_07': 'Ok'
                    }
                });
            },

            _studentChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this._getItems();
            },

            _getItems: function() {
                var request = {
                    contract: 'basic.staff',
                    service: 'beta.GetParent',
                    body: ['<StudentId>', this.student.id, '</StudentId>'].join('')
                };

                this.generateRequest(request, function(response) {
                    var items = [].concat(response.StudentParent || []);
                    this.set('items', items);

                    var space = items.length % 3,
                        spaces = [];
                    for (i = 0; i < space; i++)
                        spaces.push(i);
                    this.set('spaces', spaces);
                }.bind(this));
            },

            _saveItem: function() {
                var request = {};

                if (this.modify.type === 'Insert') {
                    request = {
                        contract: 'basic.staff',
                        service: 'beta.AddParent',
                        body: {
                            Parent: {
                                StudentId: this.student.id,
                                LinkAccount: this.modify.LinkAccount,
                                LastName: this.modify.LastName,
                                FirstName: this.modify.FirstName,
                                RelationName: this.modify.RelationName
                            }
                        }
                    };
                } else {
                    request = {
                        contract: 'basic.staff',
                        service: 'beta.UpdateParent',
                        body: {
                            Parent: {
                                RelationId: this.modify.RelationId,
                                LinkAccount: this.modify.LinkAccount,
                                LastName: this.modify.LastName,
                                FirstName: this.modify.FirstName,
                                RelationName: this.modify.RelationName
                            }
                        }
                    };
                }

                this.generateRequest(request, function(response) {
                    this._getItems();
                }.bind(this));
            },

            _removeItem: function(e) {
                var request = {
                    contract: 'basic.staff',
                    service: 'beta.DelParent',
                    body: {
                        RelationId: e.model.item.RelationId,
                    }
                };

                this.generateRequest(request, function(response) {
                    this._getItems();
                }.bind(this));
            },

            _showDialog: function(e) {
                this.set('modify', {
                    type: 'Insert',
                    LinkAccount: '',
                    LastName: '',
                    FirstName: '',
                    RelationName: ''
                });

                this.$.dialog.open();
            },

            _dismissDialog: function(e) {
                if (e.detail.confirmed)
                    this._saveItem();
            }
        });
    </script>
</dom-module>
