<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-datatable/paper-datatable.html">
<link rel="import" href="../paper-datatable/paper-datatable-column.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-student-import`
@demo demo/campus-core-student-import.html
-->
<dom-module id="campus-core-student-import">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #fff;
            height: 100%;
        }
        
        :host paper-button {
            --paper-button: {
                text-transform: none;
                font-family: Roboto, Noto, STXihei, sans-serif;
            }
        }
        
        :host paper-textarea {
            --paper-input-container-label: {
                font-family: Roboto, Noto, STXihei, sans-serif;
            }
        }
        
        :host /deep/ paper-datatable thead {
            display: none;
            visibility: hidden;
        }
        
        :host .error-text-color {
            color: var(--error-color);
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
    </style>
    <template>
        <paper-material>
            <div class="layout horizontal center wrap" style="padding:9px 12px;border-bottom:1px solid #ddd">
                <div class="flex-auto layout vertical">
                    <div class="secondary-text-color" style="line-height:22px">[[translate._10]]</div>
                    <div class="secondary-text-color" style="line-height:22px">[[translate._11]]</div>
                    <div class="secondary-text-color" style="line-height:22px">[[translate._12]]</div>
                </div>
                <div class="layout horizontal center">
                    <paper-button class="dark-primary-text-color layout horizontal center" on-tap="_import" hidden$="[[!hidden_parse_success]]">
                        <iron-icon icon="communication:import-export"></iron-icon>
                        <span style="margin-left:5px">[[translate._02]]</span>
                    </paper-button>
                    <paper-button class="dark-primary-text-color layout horizontal center" on-tap="_parse">
                        <iron-icon icon="icons:search"></iron-icon>
                        <span style="margin-left:5px">[[translate._01]]</span>
                    </paper-button>
                </div>
            </div>
            <div class="layout vertical" style="padding:16px;border-bottom:1px solid #ddd">
                <div class="dark-primary-text-color">[[translate._03]]</div>
                <div class="secondary-text-color" style="margin-top:3px">[[translate._04]]</div>
                <div class="secondary-text-color" style="margin-top:3px">[[translate._05]]</div>
                <div class="secondary-text-color" style="margin-top:3px">[[translate._06]]</div>
            </div>
            <div class="layout vertical" style="padding:16px">
                <paper-textarea id="original" label="[[translate._09]]" no-label-float rows="4" max-rows="8" style="width:100%"></paper-textarea>
            </div>
            <div style="padding:16px" hidden$="[[hidden_parse_fail]]">
                <paper-datatable data="[[fail_items]]">
                    <paper-datatable-column header="" property="stuNumber" cell-style="font-size:15px;height:36px">
                        <template>
                            <span hidden$="[[!item.isStudentNumberParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isStudentNumberParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                    <paper-datatable-column header="" property="name" cell-style="font-size:15px;height:36px">
                        <template>
                            <span hidden$="[[!item.isNameParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isNameParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                    <paper-datatable-column header="" property="idNumber" cell-style="font-size:15px;height:36px">
                        <template>
                            <span hidden$="[[!item.isIdentityNumberParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isIdentityNumberParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                    <paper-datatable-column header="" property="gender" cell-style="font-size:15px;height:36px">
                        <template>
                            <span hidden$="[[!item.isGenderParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isGenderParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                    <paper-datatable-column header="" property="birthdate" cell-style="font-size:15px;height:36px">
                        <template>
                            <span hidden$="[[!item.isBirthdateParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isBirthdateParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                    <paper-datatable-column header="" property="nationality" cell-style="font-size:15px;height:36px"></paper-datatable-column>
                    <paper-datatable-column header="" property="className" cell-style="font-size:15px;height:36px">
                        <template>
                            <span hidden$="[[!item.isClassNameParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isClassNameParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                    <paper-datatable-column header="" property="seatNo" cell-style="font-size:15px;height:36px">
                        <template>
                            <span hidden$="[[!item.isSeatNoParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isSeatNoParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                    <paper-datatable-column header="" property="account" cell-style="font-size:15px;height:36px">
                        <template>
                            <span hidden$="[[!item.isAccountParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isAccountParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                </paper-datatable>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog modal id="domainDialog" on-iron-overlay-closed="_dismissDomainDialog">
            <paper-dialog-scrollable>
                <paper-input label="[[translate._13]]" value="{{domain.name}}" style="width:240px"></paper-input>
                <paper-input label="[[translate._14]]" value="{{domain.acc}}" style="width:240px"></paper-input>
                <paper-input type="password" label="[[translate._15]]" value="{{domain.pwd}}" style="width:240px"></paper-input>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "campus-core-student-import",

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior, Campus.AjaxBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '解析',
                        '_02': '匯入',
                        '_03': '*學號, *姓名, *身分證號, 性別, 出生日, 國籍, 班級, 座號, 帳號, 密碼',
                        '_04': '10001, 丁大明, A123456789, 男, 2001/02/20, 台灣, TEST, 1, aaa@test.domain.net, a123456',
                        '_05': '10002, 王二偉, B123456789, 男, 2001/04/25, 台灣, TEST, 2, bbb@test.domain.net, b123456',
                        '_06': '10003, 田佳佳, C223456789, 女, 2001/03/16, 台灣, TEST, 3, ccc@test.domain.net, c123456',
                        '_07': '學生匯入完成!',
                        '_08': '學生匯入失敗! 請確認資料是否正確!',
                        '_09': '貼上要解析的資料...',
                        '_10': '1、當解析後資料皆正確會出現匯入按鈕，解析過程不會更動或寫入資料',
                        '_11': '2、資料解析後，紅色顯示為資料重覆或錯誤，請修正後再重新解析',
                        '_12': '3、欄位﹡必填，不可留空白；當有填帳號時，如果沒填密碼，密碼預設為12345678',
                        '_13': '網域',
                        '_14': '帳號',
                        '_15': '密碼',
                        '_16': '帳號匯入完成!',
                        '_17': '帳號匯入失敗! 請確認資料是否正確!',
                        '_18': '* 學號必填 *',
                        '_19': '* 姓名必填 *',
                        '_20': '* 身分證號必填 *'
                    },
                    'zh-cn': {
                        '_01': '解析',
                        '_02': '导入',
                        '_03': '*学号, *姓名, *身份证号, 性别, 出生日, 国籍, 班级, 座号, 帐号, 密码',
                        '_04': '10001, 丁大明, A123456789, 男, 2001/02/20, 中国, TEST, 1, aaa@test.domain.net, a123456',
                        '_05': '10002, 王二伟, B123456789, 男, 2001/04/25, 中国, TEST, 2, bbb@test.domain.net, b123456',
                        '_06': '10003, 田佳佳, C223456789, 女, 2001/03/16, 中国, TEST, 3, ccc@test.domain.net, c123456',
                        '_07': '学生导入完成!',
                        '_08': '学生导入失败! 请确认资料是否正确!',
                        '_09': '贴上要解析的资料...',
                        '_10': '1、当解析后资料皆正确会出现导入按钮，解析过程不会更动或写入资料',
                        '_11': '2、资料解析后,红色显示为资料重复或错误,请修正后再重新解析',
                        '_12': '3、栏位﹡必填，不可留空白；当有填帐号时，如果没填密码，密码预设为12345678',
                        '_13': '网域',
                        '_14': '帐号',
                        '_15': '密码',
                        '_16': '帐号导入完成!',
                        '_17': '帐号导入失败! 请确认资料是否正确!',
                        '_18': '* 学号必填 _',
                        '_19': '* 姓名必填 *',
                        '_20': '* 身份证号必填 *'
                    },
                    'en-us': {
                        '_01': 'Parse',
                        '_02': 'Import',
                        '_03': '*Student No., *Name, *Identity No., Gender, Birthdate, Nationality, Class Name, Seat No., Account, Password',
                        '_04': '10001, Marx Smith, A123456789, Male, 2001/02/20, USA, TEST, 1, aaa@test.domain.net, a123456',
                        '_05': '10002, Kevin Hill, B123456789, Male, 2001/04/25, USA, TEST, 2, bbb@test.domain.net, b123456',
                        '_06': '10003, Mary Lincoln, C223456789, Female, 2001/03/16, USA, TEST, 3, ccc@test.domain.net, c123456',
                        '_07': 'Student import completed!',
                        '_08': 'Student import failed!',
                        '_09': 'Paste Data...',
                        '_10': '1、當解析後資料皆正確會出現匯入按鈕，解析過程不會更動或寫入資料',
                        '_11': '2、資料解析後，紅色顯示為資料重覆或錯誤，請修正後再重新解析',
                        '_12': '3、欄位﹡必填，不可留空白；當有填帳號時，如果沒填密碼，密碼預設為12345678',
                        '_13': 'Domain',
                        '_14': 'Account',
                        '_15': 'Password',
                        '_16': 'Account import completed!!',
                        '_17': 'Account import failed!',
                        '_18': '* Student No. Required *',
                        '_19': '* Name Required *',
                        '_20': '* Identity No. Required *'
                    },
                    'vi-vn': {
                        '_01': 'Phân giải',
                        '_02': 'Hội nhập',
                        '_03': '*Số thẻ học sinh, *họ tên, *Nhận dạng số, giới tính, ngày sinh, quốc tịch, lớp, số ghế, Khoản, Mật khẩu',
                        '_04': '10001, Nguyễn Thị Hoa, A123456789, Nữ, 20/2/2001, Việt Nam, Lớp 1A , 1, aaa@test.domain.net, a123456',
                        '_05': '10002, Phạm Văn Bằng, B123456789, Nam, 25/4/2001, Việt Nam, Lớp 2B , 2, bbb@test.domain.net, b123456',
                        '_06': '10003, Vũ Tân Cúc, C223456789, Nữ, 16/3/2001, Việt Nam, Lớp 1C , 3, ccc@test.domain.net, c123456',
                        '_07': 'Student Hội nhập hoàn thành!',
                        '_08': 'Student Hội nhập thất bại! Xin xác nhận dữ liệu chính xác!',
                        '_09': 'Paste Data...',
                        '_10': '1、當解析後資料皆正確會出現匯入按鈕，解析過程不會更動或寫入資料',
                        '_11': '2、資料解析後，紅色顯示為資料重覆或錯誤，請修正後再重新解析',
                        '_12': '3、欄位﹡必填，不可留空白；當有填帳號時，如果沒填密碼，密碼預設為12345678',
                        '_13': 'Domain',
                        '_14': 'Account',
                        '_15': 'Password',
                        '_16': 'Account Hội nhập hoàn thành!',
                        '_17': 'Account Hội nhập thất bại! Xin xác nhận dữ liệu chính xác!',
                        '_18': '* Số thẻ học sinh Cần thiết *',
                        '_19': '* họ tên Cần thiết *',
                        '_20': '* Nhận dạng số Cần thiết *'
                    }
                });

                this.set('students', []);
                this.set('classes', []);

                this.set('hidden_parse_fail', true);
                this.set('hidden_parse_success', false);

                this._getStudents();
                this._getClasses();
            },

            /*
             * 準備要比對的資料
             */
            prepare: function() {
                this._getStudents();
                this._getClasses();
            },

            _getStudents: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.GetDetailList',
                    body: '<Request><Field><StudentNumber/><IDNumber/><SALoginName/></Field><Condition><Status>一般</Status></Condition></Request>'
                };

                this.generateRequest(request, function(response) {
                    var items = response && response.StudentList ? [].concat(response.StudentList.Student || []) : [];
                    this.set('students', items);
                }.bind(this));
            },

            _getClasses: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Class.GetAbstractList',
                    body: '<Request><Field><ClassID/><ClassName/></Field></Request>'
                };

                this.generateRequest(request, function(response) {
                    var items = response && response.ClassList ? [].concat(response.ClassList.Class || []) : [];
                    this.set('classes', items);
                }.bind(this));
            },

            _parse: function(e) {
                if (!this.$.original.value) return;

                this.set('hidden_parse_fail', true);
                this.set('hidden_parse_success', false);

                var items = [],
                    studentNumbers = [],
                    identityNumbers = [],
                    genders = ['男', '女', 'Male', 'Female', ''],
                    classNames = [],
                    accounts = [];

                this.students.forEach(function(item) {
                    studentNumbers.push(item.StudentNumber);
                    identityNumbers.push(item.IDNumber);

                    if (item.SALoginName !== '')
                        accounts.push(item.SALoginName);
                });
                this.classes.forEach(function(item) {
                    classNames.push(item.ClassName);
                });

                this.$.original.value.split("\n").forEach(function(item, index) {
                    var temp = item.replace(/\t/ig, ',').split(',');
                    temp.forEach(function(i, index) {
                        temp[index] = temp[index].replace(/"/ig, '').replace(/　/ig, '');
                    })

                    items.push({
                        stuNumber: temp[0] ? temp[0].trim() : '',
                        name: temp[1] ? temp[1].trim() : '',
                        idNumber: temp[2] ? temp[2].trim() : '',
                        gender: temp[3] ? temp[3].trim() : '',
                        birthdate: temp[4] ? temp[4].trim() : '',
                        nationality: temp[5] ? temp[5].trim() : '',
                        className: temp[6] ? temp[6].trim() : '',
                        seatNo: temp[7] ? temp[7].trim() : '',
                        account: temp[8] ? temp[8].trim() : '',
                        password: temp[9] ? temp[9].trim() : ''
                    });
                });

                var fail_items = [];
                items.forEach(function(item, index) {
                    item.isStudentNumberParse = item.stuNumber !== '' ? (studentNumbers.indexOf(item.stuNumber) !== -1 ? false : true) : true;
                    item.isNameParse = item.name !== '';
                    item.isIdentityNumberParse = identityNumbers.indexOf(item.idNumber) !== -1 ? false : true;
                    item.isGenderParse = item.gender !== '' ? (genders.indexOf(item.gender) === -1 ? false : true) : true;
                    item.isBirthdateParse = item.birthdate !== '' ? !isNaN(Date.parse(item.birthdate)) : true;
                    item.isClassNameParse = item.className !== '' ? (classNames.indexOf(item.className) === -1 ? false : true) : true;
                    item.isSeatNoParse = item.seatNo !== '' ? !isNaN(Math.abs(item.seatNo)) : true;
                    item.isAccountParse = item.account !== '' ? (accounts.indexOf(item.account) !== -1 ? false : true) : true;

                    item.isParse = item.isNameParse && item.isIdentityNumberParse && item.isGenderParse && item.isBirthdateParse && item.isStudentNumberParse && item.isClassNameParse && item.isSeatNoParse && item.isAccountParse;

                    if (!item.isParse) fail_items.push(item);
                    if (!ite.stuNumber) item.stuNumber = this.translate._18;
                    if (!item.name) item.name = this.translate._19;
                    if (!item.idNumber) item.idNumber = this.translate._20;

                    studentNumbers.push(item.stuNumber);
                });

                if (fail_items.length > 0) {
                    this.set('hidden_parse_fail', false);
                    this.set('fail_items', fail_items);
                } else
                    this.set('hidden_parse_success', true);

                this.set('parse_items', items);
            },

            _import: function(e) {
                var students = [],
                    accounts = [];

                this.parse_items.forEach(function(item) {
                    this.classes.forEach(function(c) {
                        if (c.ClassName === item.className)
                            item.classID = c.$.ID;
                    });

                    var student = {
                        Name: item.name,
                        IDNumber: item.idNumber,
                        StudentNumber: item.stuNumber,
                    };

                    if (item.gender)
                        student.Gender = ['女', 'Female'].indexOf(item.gender) !== -1 ? '女' : '男';

                    if (item.birthdate)
                        student.Birthdate = item.birthdate;

                    if (item.nationality)
                        student.Nationality = item.nationality;

                    if (item.classID)
                        student.RefClassID = item.classID;

                    if (item.seatNo)
                        student.SeatNo = item.seatNo;

                    if (item.account) {
                        student.SALoginName = item.account;

                        var account = {
                            acc: item.account,
                            pwd: item.password || '12345678',
                            firstName: item.name,
                            lastName: ''
                        }

                        accounts.push(account);
                    }

                    students.push(student);
                }.bind(this));

                if (accounts.length > 0) {
                    this.set('domain', {
                        accounts: accounts,
                        name: '',
                        acc: '',
                        pwd: ''
                    });
                    this.$.domainDialog.open();
                }

                if (students.length > 0)
                    this._importStudent(students);
            },

            _importStudent: function(items) {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.QuickInsert',
                    body: {
                        Request: {
                            Student: items
                        }
                    }
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._07,
                            duration: 1000
                        });

                        setTimeout(function() {
                            this.fire('changed', {
                                type: 'Import'
                            });
                        }.bind(this), 1000);

                        this._getStudents();
                        this.set('hidden_parse_success', false);
                    } else {
                        this.$.toast.show({
                            text: this.translate._08,
                            duration: 1000
                        });

                        this._parse();
                    }
                }.bind(this));
            },

            _dismissDomainDialog: function(e) {
                if (e.detail.confirmed)
                    this._importAccount(this.domain.accounts);
            },

            _importAccount: function(accounts) {
                this.ajax({
                    method: 'POST',
                    url: [Campus.authServer, '/c/1campus.service/applicationAccounts.php'].join(''),
                    request: {
                        "application": Campus.school.dsns,
                        "domain": {
                            "name": this.domain.name,
                            "acc": this.domain.acc,
                            "pwd": this.domain.pwd
                        },
                        "list": accounts
                    },
                    responseType: 'json'
                }, function(response, xhr) {
                    if (response.status === 'success')
                        this.$.toast.show({
                            text: this.translate._16,
                            duration: 1000
                        });
                    else
                        this.$.toast.show({
                            text: this.translate._17,
                            duration: 1000
                        });
                }.bind(this));
            }
        });

        /*
         * 當資料匯入完成，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
