<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-date-picker/paper-date-picker.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-core-class/campus-core-class-picker.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-student-editor`
@demo demo/campus-core-student-editor.html
-->
<dom-module id="campus-core-student-editor">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style include="paper-date-picker-dialog-style"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
        
        :host .photo-item {
            margin: 8px;
            cursor: pointer;
            position: relative;
        }

        :host .cell-container {
            padding: 16px 8px;
        }
        
        :host .cell-item {
            padding: 0 8px;
            flex: 1 1 220px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:done" on-tap="_saveInfo" save></paper-icon-button>
            <div class="layout horizontal center" hidden$="[[student.isAddNew]]">
                <paper-icon-button class="tpib" icon="icons:refresh" on-tap="_refreshInfo" refresh></paper-icon-button>
                <paper-icon-button class="tpib" icon="icons:restore" on-tap="_restoreInfo" restore hidden$="[[!student.isRestore]]"></paper-icon-button>
                <paper-icon-button class="tpib" icon="icons:delete" on-tap="_deleteInfo" delete hidden$="[[!student.isUpdate]]"></paper-icon-button>
            </div>
        </div>
        <paper-material style="background:#fff">
            <div class="layout horizontal" style="padding:8px">
                <div class="photo-item">
                    <paper-material elevation="1" style="display:flex" on-tap="_loadFreshmanPhoto">
                        <img src$="[[student.FreshmanPhoto]]" style="width:126px;height:162px" hidden$="[[!student.hasFreshmanPhoto]]" />
                        <div class="layout horizontal center-center" style="width:126px;height:162px" hidden$="[[student.hasFreshmanPhoto]]">
                            <iron-icon icon="icons:find-in-page" class="dark-primary-text-color" style="width:80px;height:80px"></iron-icon>
                            <input type="file" id="input_freshman_photo" accept="image/*" hidden />
                        </div>
                    </paper-material>
                    <div class="layout horizontal end-justified secondary-text-color" style="position:absolute;top:0;right:0" hidden$="[[!student.hasFreshmanPhoto]]">
                        <paper-icon-button icon="icons:clear" on-tap="_removeFreshmanPhoto"></paper-icon-button>
                    </div>
                </div>
                <div class="photo-item">
                    <paper-material elevation="1" style="display:flex" on-tap="_loadGraduatePhoto">
                        <img src$="[[student.GraduatePhoto]]" style="width:126px;height:162px" hidden$="[[!student.hasGraduatePhoto]]" />
                        <div class="layout horizontal center-center" style="width:126px;height:162px" hidden$="[[student.hasGraduatePhoto]]">
                            <iron-icon icon="icons:find-in-page" class="dark-primary-text-color" style="width:80px;height:80px"></iron-icon>
                            <input type="file" id="input_graduate_photo" accept="image/*" hidden />
                        </div>
                    </paper-material>
                    <div class="layout horizontal end-justified secondary-text-color" style="position:absolute;top:0;right:0" hidden$="[[!student.hasGraduatePhoto]]">
                        <paper-icon-button icon="icons:clear" on-tap="_removeGraduatePhoto"></paper-icon-button>
                    </div>
                </div>
            </div>
            <div class="layout horizontal wrap cell-container">
                <div class="layout vertical cell-item">
                    <div class="layout horizontal center">
                        <paper-input class="flex" label="[[translate._04]]" value="{{student.Name}}"></paper-input>
                        <div style="width:10px"></div>
                        <paper-dropdown-menu label="[[translate._05]]" style="width:70px">
                            <paper-menu class="dropdown-content" selected="{{student.BitGender}}" attr-for-selected="value">
                                <paper-item value="1">[[translate._06]]</paper-item>
                                <paper-item value="0">[[translate._07]]</paper-item>
                            </paper-menu>
                        </paper-dropdown-menu>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._08]]" value="{{student.EnglishName}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._14]]" value="{{student.IDNumber}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._09]]" value="[[student.Birthdate]]" readonly on-tap="_showBirthdateDialog"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._15]]" value="{{student.Nationality}}"></paper-input>
                    </div>
                </div>
                <div class="layout vertical cell-item">
                    <div class="layout horizontal center">
                        <paper-input class="flex" label="[[translate._02]]" value="{{student.StudentNumber}}"></paper-input>
                        <div style="width:10px"></div>
                        <paper-input label="[[translate._03]]" value="{{student.SeatNo}}" style="width:70px"></paper-input>
                    </div>
                    <div class="layout horizontal center">
                        <campus-core-class-picker class="flex" id="classPicker" selected="[[student.ClassName]]"></campus-core-class-picker>
                        <div style="width:10px"></div>
                        <paper-icon-button class="secondary-text-color" icon="clear" on-tap="_removeClass"></paper-icon-button>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._11]]" value="{{student.SALoginName}}"></paper-input>
                    </div>
                    <div class="layout horizontal center" hidden$="[[!student.isUpdate]]">
                        <paper-input class="flex" label="[[translate._16]]" value="{{student.ParentCode}}" readonly></paper-input>
                        <div style="width:10px"></div>
                        <paper-icon-button class="secondary-text-color" icon="icons:cached" on-tap="_refreshParentCode"></paper-icon-button>
                        <paper-icon-button class="secondary-text-color" icon="icons:delete" on-tap="_removeParentCode"></paper-icon-button>
                    </div>
                    <div class="layout horizontal center" hidden$="[[!student.isUpdate]]">
                        <paper-input class="flex" label="[[translate._17]]" value="{{student.StudentCode}}" readonly></paper-input>
                        <div style="width:10px"></div>
                        <paper-icon-button class="secondary-text-color" icon="icons:cached" on-tap="_refreshStudentCode"></paper-icon-button>
                        <paper-icon-button class="secondary-text-color" icon="icons:delete" on-tap="_removeStudentCode"></paper-icon-button>
                    </div>
                </div>
                <div class="layout vertical cell-item"></div>
                <div class="layout vertical cell-item"></div>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog modal id="birthdateDialog" class="paper-date-picker-dialog" on-iron-overlay-closed="_dismissBirthdateDialog">
            <paper-date-picker id="birthdatePicker" date="[[_birthdate()]]"></paper-date-picker>
            <div class="buttons">
                <paper-button dialog-dismiss>[[translate._18]]</paper-button>
                <paper-button dialog-confirm>[[translate._19]]</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "campus-core-student-editor",

            properties: {
                /*
                 * 編輯的學生
                 */
                student: {
                    type: Object,
                    observer: '_studentChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '基本資料',
                        '_02': '學號',
                        '_03': '座號',
                        '_04': '中文姓名',
                        '_05': '性別',
                        '_06': '男',
                        '_07': '女',
                        '_08': '英文姓名',
                        '_09': '出生日',
                        '_11': '帳號',
                        '_12': '更新完成!',
                        '_13': '更新失敗! 請確認資料是否正確!',
                        '_14': '身分證號',
                        '_15': '國籍',
                        '_16': '家長代碼',
                        '_17': '學生代碼',
                        '_18': '取消',
                        '_19': '確定'
                    },
                    'zh-cn': {
                        '_01': '基本资料',
                        '_02': '学号',
                        '_03': '座号',
                        '_04': '中文姓名',
                        '_05': '性别',
                        '_06': '男',
                        '_07': '女',
                        '_08': '英文姓名',
                        '_09': '出生日',
                        '_11': '帐号',
                        '_12': '更新完成!',
                        '_13': '更新失败! 请确认资料是否正确!',
                        '_14': '身份证号',
                        '_15': '国籍',
                        '_16': '家长代码',
                        '_17': '学生代码',
                        '_18': '取消',
                        '_19': '确定'
                    },
                    'en-us': {
                        '_01': 'Info',
                        '_02': 'Student No.',
                        '_03': 'Seat No.',
                        '_04': 'Chinese Name',
                        '_05': 'Gender',
                        '_06': 'Male',
                        '_07': 'Female',
                        '_08': 'English Name',
                        '_09': 'Birthdate',
                        '_11': 'Login Account',
                        '_12': 'Update completed!',
                        '_13': 'Update failed!',
                        '_14': 'Identity Number',
                        '_15': 'Nationality',
                        '_16': 'Parent Code',
                        '_17': 'Student Code',
                        '_18': 'Cancel',
                        '_19': 'Ok'
                    },
                    'vi-vn': {
                        '_01': 'Dữ liệu cơ bản',
                        '_02': 'Số thẻ học sinh',
                        '_03': 'Số ghế',
                        '_04': 'Họ tên tiếng trung ',
                        '_05': 'Giới tính',
                        '_06': 'Nam',
                        '_07': 'Nữ',
                        '_08': 'Tên tiếng anh',
                        '_09': 'Ngày Sinh',
                        '_11': 'Tài khoản',
                        '_12': 'Cập nhật hoàn thành!',
                        '_13': 'Cập nhật thất bại, xin xác nhận lại chính xác dữ liệu!',
                        '_14': 'Identity Number',
                        '_15': 'Nationality',
                        '_16': 'Parent Code',
                        '_17': 'Student Code',
                        '_18': 'Cancel',
                        '_19': 'Ok'
                    }
                });

                this.$.classPicker.addEventListener('changed', function(e) {
                    e.stopPropagation();

                    this.set('clazz', e.detail);
                }.bind(this));
            },

            attached: function() {
                this._initPhotoEvent();
            },

            addNew: function() {
                this.set('clazz', null);
                this.set('student', {
                    action: 'Insert'
                });
            },

            _studentChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this.set('clazz', null);

                this._getInfo();
                this._getClassInfo();
                this._getCodeInfo();
            },

            _getInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.GetDetailList',
                    body: ['<Request><Field><ID/><Status/><IDNumber/><Nationality/><Name/><EnglishName/><Birthdate/><Gender/><FreshmanPhoto/><GraduatePhoto/><SALoginName/></Field><Condition><ID>', this.student.id,
                        '</ID></Condition></Request>'
                    ].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.StudentList) {
                        var male = ['Male', 'male', 'm', true, 'true', 'True', 't', '男', '男'];
                        var item = [].concat(response.StudentList.Student || [])[0];
                        this.set('student.IDNumber', item.IDNumber);
                        this.set('student.Nationality', item.Nationality);
                        this.set('student.Name', item.Name);
                        this.set('student.EnglishName', item.EnglishName);
                        this.set('student.Birthdate', this._dateFormat(item.Birthdate || '2000/01/01', 'YYYY/MM/DD'));
                        this.set('student.Gender', item.Gender);
                        this.set('student.BitGender', male.indexOf(item.Gender) !== -1 ? '1' : '0');
                        this.set('student.FreshmanPhoto', ['data:image/png;base64,', item.FreshmanPhoto].join(''));
                        this.set('student.GraduatePhoto', ['data:image/png;base64,', item.GraduatePhoto].join(''));
                        this.set('student.SALoginName', item.SALoginName);
                        this.set('student.isRestore', item.Status === '刪除');
                        this.set('student.isUpdate', item.Status === '刪除' ? false : true);

                        this.set('student.hasFreshmanPhoto', item.FreshmanPhoto ? true : false);
                        this.set('student.hasGraduatePhoto', item.GraduatePhoto ? true : false);
                    }
                }.bind(this));
            },

            _getClassInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.GetClassInfo',
                    body: ['<Request><Field><ClassName/><SeatNo/><StudentNumber/></Field><Condition><ID>', this.student.id, '</ID></Condition></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.ClassInfo) {
                        this.set('student.ClassName', response.ClassInfo.ClassName);
                        this.set('student.SeatNo', response.ClassInfo.SeatNo);
                        this.set('student.StudentNumber', response.ClassInfo.StudentNumber);
                    }
                }.bind(this));
            },

            _getCodeInfo: function() {
                var request = {
                    contract: 'basic.staff',
                    service: 'beta.GetStudent',
                    body: {
                        StudentId: this.student.id
                    }
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Student) {
                        this.set('student.ParentCode', response.Student.ParentCode.toUpperCase());
                        this.set('student.StudentCode', response.Student.StudentCode.toUpperCase());
                    }
                }.bind(this));
            },

            _saveInfo: function() {
                var request = {};

                if (this.student.action === 'Insert') {
                    request = {
                        contract: 'schoolaccess',
                        service: 'SmartSchool.Student.QuickInsert',
                        body: {
                            Request: {
                                Student: {
                                    IDNumber: this.student.IDNumber,
                                    Nationality: this.student.Nationality,
                                    Name: this.student.Name,
                                    EnglishName: this.student.EnglishName,
                                    Birthdate: this.student.Birthdate,
                                    Gender: this.student.BitGender === '0' ? '女' : '男',
                                    StudentNumber: this.student.StudentNumber,
                                    SeatNo: this.student.SeatNo,
                                    FreshmanPhoto: this.student.FreshmanPhoto ? this.student.FreshmanPhoto.split('base64,')[1] : '',
                                    GraduatePhoto: this.student.GraduatePhoto ? this.student.GraduatePhoto.split('base64,')[1] : '',
                                    SALoginName: this.student.SALoginName
                                }
                            }
                        }
                    };

                    if (this.clazz) request.body.Request.Student.RefClassID = this.clazz.id;
                } else {
                    request = {
                        contract: 'schoolaccess',
                        service: 'SmartSchool.Student.QuickUpdate',
                        body: {
                            Request: {
                                Student: {
                                    Field: {
                                        IDNumber: this.student.IDNumber,
                                        Nationality: this.student.Nationality,
                                        Name: this.student.Name,
                                        EnglishName: this.student.EnglishName,
                                        Birthdate: this.student.Birthdate,
                                        Gender: this.student.BitGender === '0' ? '女' : '男',
                                        StudentNumber: this.student.StudentNumber,
                                        SeatNo: this.student.SeatNo,
                                        FreshmanPhoto: this.student.FreshmanPhoto ? this.student.FreshmanPhoto.split('base64,')[1] : '',
                                        GraduatePhoto: this.student.GraduatePhoto ? this.student.GraduatePhoto.split('base64,')[1] : '',
                                        SALoginName: this.student.SALoginName
                                    },
                                    Condition: {
                                        ID: this.student.id
                                    }
                                }
                            }
                        }
                    };

                    if (this.clazz) request.body.Request.Student.Field.RefClassID = this.clazz.id;
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._12,
                            duration: 1000
                        });

                        setTimeout(function() {
                            if (this.student.action === 'Insert') {
                                this.fire('changed', {
                                    type: 'Insert'
                                });
                                this.student.id = response.Result.NewID;
                            } else
                                this.fire('changed', {
                                    id: this.student.id,
                                    label: this.student.label,
                                    target: this.student,
                                    type: 'Update'
                                });
                        }.bind(this), 1000);

                        this._saveCodeInfo();
                    } else {
                        this.$.toast.show({
                            text: this.translate._13,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _saveCodeInfo: function() {
                if (!this.student.id) return;

                var request = {
                    contract: 'basic.staff',
                    service: 'beta.UpdateStudent',
                    body: {
                        Student: {
                            StudentId: this.student.id,
                            ParentCode: this.student.ParentCode,
                            StudentCode: this.student.StudentCode
                        }
                    }
                };

                this.generateRequest(request);
            },

            _deleteInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.ChangeStatus',
                    body: ['<Request><Student><Field><Status>刪除</Status></Field><Condition><ID>', this.student.id, '</ID></Condition></Student></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._12,
                            duration: 1000
                        });

                        this.set('student.isRestore', true);
                        this.set('student.isUpdate', false);

                        setTimeout(function() {
                            this.fire('changed', {
                                id: this.student.id,
                                label: this.student.label,
                                target: this.student,
                                type: 'Delete'
                            });
                        }.bind(this), 1000);
                    } else {
                        this.$.toast.show({
                            text: this.translate._13,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _restoreInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.ChangeStatus',
                    body: ['<Request><Student><Field><Status>一般</Status></Field><Condition><ID>', this.student.id, '</ID></Condition></Student></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._12,
                            duration: 1000
                        });

                        this.set('student.isRestore', false);
                        this.set('student.isUpdate', true);

                        setTimeout(function() {
                            this.fire('changed', {
                                id: this.student.id,
                                label: this.student.label,
                                target: this.student,
                                type: 'Restore'
                            });
                        }.bind(this), 1000);
                    } else {
                        this.$.toast.show({
                            text: this.translate._13,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _refreshInfo: function() {
                this._getInfo();
                this._getClassInfo();
                this._getCodeInfo();
            },

            _removeClass: function() {
                this.set('clazz', {
                    id: ''
                });
                this.set('student.ClassName', '');
            },

            _refreshParentCode: function(e) {
                this.set('student.ParentCode', Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
            },

            _refreshStudentCode: function(e) {
                this.set('student.StudentCode', Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
            },

            _removeParentCode: function(e) {
                this.set('student.ParentCode', '');
            },

            _removeStudentCode: function(e) {
                this.set('student.StudentCode', '');
            },

            _dateFormat: function(date, format) {
                return moment(date).format(format);
            },

            _showBirthdateDialog: function(e) {
                this.$.birthdatePicker.date = this.student ? new Date(this.student.Birthdate || '2000/01/01') : new Date('2000/01/01');
                this.$.birthdateDialog.toggle();
            },

            _dismissBirthdateDialog: function(e) {
                if (e.detail.confirmed)
                    this.set('student.Birthdate', this._dateFormat(this.$.birthdatePicker.date, 'YYYY/MM/DD'));
            },

            _loadFreshmanPhoto: function(e) {
                Polymer.dom(this.root).querySelector('#input_freshman_photo').click();
            },

            _removeFreshmanPhoto: function(e) {
                this.set('student.FreshmanPhoto', '');
                this.set('student.hasFreshmanPhoto', false);
            },

            _loadGraduatePhoto: function(e) {
                Polymer.dom(this.root).querySelector('#input_graduate_photo').click();
            },

            _removeGraduatePhoto: function(e) {
                this.set('student.GraduatePhoto', '');
                this.set('student.hasGraduatePhoto', false);
            },

            _initPhotoEvent: function() {
                var photos = ['freshman', 'graduate'];

                photos.forEach(function(p) {
                    var inputFile;
                    if (p === 'freshman')
                        inputFile = Polymer.dom(this.root).querySelector('#input_freshman_photo');
                    else
                        inputFile = Polymer.dom(this.root).querySelector('#input_graduate_photo');

                    inputFile.addEventListener('click', function() {
                        this.value = null;
                    }, false);
                    inputFile.addEventListener('change', function(evt) {
                        evt.stopPropagation();
                        evt.preventDefault();

                        var file = evt.dataTransfer !== undefined ? evt.dataTransfer.files[0] : evt.target.files[0];
                        var reader = new FileReader();

                        reader.onload = (function(theFile) {
                            return function(e) {
                                var image = new Image();
                                image.src = e.target.result;
                                image.onload = function() {
                                    var canvas = document.createElement('canvas');
                                    canvas.width = image.width > 120 ? 120 : image.width;
                                    canvas.height = image.width > 120 ? image.height * (120 / image.width) : image.height;
                                    var ctx = canvas.getContext('2d');
                                    ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

                                    if (p === 'freshman') {
                                        this.set('student.FreshmanPhoto', canvas.toDataURL());
                                        this.set('student.hasFreshmanPhoto', true);
                                    } else {
                                        this.set('student.GraduatePhoto', canvas.toDataURL());
                                        this.set('student.hasGraduatePhoto', true);
                                    }
                                }.bind(this);
                            }.bind(this);
                        }.bind(this))(file);
                        reader.readAsDataURL(file);
                    }.bind(this), false);
                }.bind(this));
            },

            _birthdate: function() {
                return this.student ? new Date(this.student.Birthdate || '2000/01/01') : new Date('2000/01/01');
            }
        });

        /*
         * 當資料變動 (新增、修改、刪除)，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
