<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-core-class/campus-core-class-picker.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-student-code`
@demo demo/campus-core-student-code.html
-->
<dom-module id="campus-core-student-code">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #fff;
            height: 100%;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
            border-top: 1px solid #eee;
            margin-top: -1px;
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
        }
        
        :host paper-item paper-icon-button {
            padding: 5px;
            width: 30px;
            height: 30px;
        }
    </style>
    <template>
        <paper-material>
            <div class="layout horizontal center" style="padding:0 16px">
                <campus-core-class-picker id="classPicker" selected="[[clazz.label]]" style="width:160px"></campus-core-class-picker>
                <div class="flex-auto"></div>
                <paper-icon-button icon="icons:done" on-tap="_saveItems"></paper-icon-button>
                <paper-icon-button icon="icons:refresh" on-tap="_getItems"></paper-icon-button>
            </div>
            <div style="overflow:auto;margin-top:16px">
                <div class="layout horizontal center" style="padding:0 16px;color:rgba(0, 0, 0, .67)">
                    <div class="layout horizontal flex-auto">
                        <div style="min-width:144px">&nbsp;</div>
                    </div>
                    <div class="layout horizontal flex end-justified">
                        <div class="layout horizontal center" style="width:125px;margin-right:20px">
                            <div style="margin-rigth:8px">[[translate._01]]</div>
                            <paper-icon-button icon="icons:cached" on-tap="_refreshAllParentCode"></paper-icon-button>
                        </div>
                        <div class="layout horizontal center" style="width:125px">
                            <div style="margin-rigth:8px">[[translate._02]]</div>
                            <paper-icon-button icon="icons:cached" on-tap="_refreshAllStudentCode"></paper-icon-button>
                        </div>
                    </div>
                </div>
                <template is="dom-repeat" items="[[items]]">
                    <paper-item class="layout horizontal wrap">
                        <div class="layout horizontal flex-auto">
                            <div style="width:20px;margin-right:4px;text-align:right">[[item.SeatNo]]</div>
                            <div style="min-width:120px">[[item.StudentName]]</div>
                        </div>
                        <div class="flex-auto" style="min-width:160px">[[item.LinkAccount]]</div>
                        <div class="layout horizontal flex-auto end-justified">
                            <div class="layout horizontal center" style="margin-right:20px">
                                <div style="width:65px;[[item.parentStyle]]">[[item.ParentCode]]</div>
                                <paper-icon-button icon="icons:cached" on-tap="_refreshParentCode"></paper-icon-button>
                                <paper-icon-button icon="icons:delete" on-tap="_removeParentCode"></paper-icon-button>
                            </div>
                            <div class="layout horizontal center">
                                <div style="width:65px;[[item.studentStyle]]">[[item.StudentCode]]</div>
                                <paper-icon-button icon="icons:cached" on-tap="_refreshStudentCode"></paper-icon-button>
                                <paper-icon-button icon="icons:delete" on-tap="_removeStudentCode"></paper-icon-button>
                            </div>
                        </div>
                    </paper-item>
                </template>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "campus-core-student-code",

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '家長代碼',
                        '_02': '學生代碼',
                        '_03': '更新完成!',
                        '_04': '更新失敗! 請確認資料是否正確!'
                    },
                    'zh-cn': {
                        '_01': '家长代码',
                        '_02': '学生代码',
                        '_03': '更新完成!',
                        '_04': '更新失败! 请确认资料是否正确!'
                    },
                    'en-us': {
                        '_01': 'Parent Code',
                        '_02': 'Student Code',
                        '_03': 'Update completed!',
                        '_04': 'Update failed!'
                    }
                });

                this.$.classPicker.addEventListener('changed', function(e) {
                    e.stopPropagation();

                    this.set('clazz', e.detail);
                    this._getItems();
                }.bind(this));
            },

            _getItems: function() {
                var request = {
                    contract: 'basic.staff',
                    service: 'beta.GetStudent',
                    body: {
                        ClassId: this.clazz.id,
                        StudentStatus: 1
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Student) {
                        var items = [].concat(response.Student || []);
                        this.set('items', items);
                    }
                }.bind(this));
            },

            _saveItems: function(e) {
                var students = [];
                this.items.forEach(function(item) {
                    if (item.isRefreshParentCode || item.isRefreshStudentCode) {
                        students.push({
                            StudentId: item.StudentId,
                            ParentCode: item.ParentCode,
                            StudentCode: item.StudentCode
                        });
                    }
                });

                var request = {
                    contract: 'basic.staff',
                    service: 'beta.UpdateStudent',
                    body: {
                        Student: students
                    }
                }

                this.generateRequest(request, function(response, error) {
                    if (response === '') {
                        this.$.toast.show({
                            text: this.translate._03,
                            duration: 1000
                        });
                        this._getItems();
                    } else
                        this.$.toast.show({
                            text: [this.translate._04, ' - ', error.Message].join(''),
                            duration: 1000
                        });
                }.bind(this));
            },

            _refreshParentCode: function(e) {
                this.set(['items.', e.model.index, '.ParentCode'].join(''), Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
                this.set(['items.', e.model.index, '.isRefreshParentCode'].join(''), true);
                this.set(['items.', e.model.index, '.parentStyle'].join(''), 'color:#dd2c00');
            },

            _refreshStudentCode: function(e) {
                this.set(['items.', e.model.index, '.StudentCode'].join(''), Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
                this.set(['items.', e.model.index, '.isRefreshStudentCode'].join(''), true);
                this.set(['items.', e.model.index, '.studentStyle'].join(''), 'color:#dd2c00');
            },

            _removeParentCode: function(e) {
                this.set(['items.', e.model.index, '.ParentCode'].join(''), '');
                this.set(['items.', e.model.index, '.isRefreshParentCode'].join(''), true);
                this.set(['items.', e.model.index, '.parentStyle'].join(''), 'color:#dd2c00');
            },

            _removeStudentCode: function(e) {
                this.set(['items.', e.model.index, '.StudentCode'].join(''), '');
                this.set(['items.', e.model.index, '.isRefreshStudentCode'].join(''), true);
                this.set(['items.', e.model.index, '.studentStyle'].join(''), 'color:#dd2c00');
            },

            _refreshAllParentCode: function(e) {
                this.items.forEach(function(item, index) {
                    this.set(['items.', index, '.ParentCode'].join(''), Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
                    this.set(['items.', index, '.isRefreshParentCode'].join(''), true);
                    this.set(['items.', index, '.parentStyle'].join(''), 'color:#dd2c00');
                }.bind(this));
            },

            _refreshAllStudentCode: function(e) {
                this.items.forEach(function(item, index) {
                    this.set(['items.', index, '.StudentCode'].join(''), Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
                    this.set(['items.', index, '.isRefreshStudentCode'].join(''), true);
                    this.set(['items.', index, '.studentStyle'].join(''), 'color:#dd2c00');
                }.bind(this));
            }
        });
    </script>
</dom-module>
