<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-core-class/campus-core-class-picker.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-student-list`
@demo demo/campus-core-student-list.html
-->
<dom-module id="campus-core-student-list">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 100%;
        }
        
        :host paper-toolbar paper-input {
            --paper-input-container-color: #eee;
            --paper-input-container-focus-color: #fff;
            --paper-input-container-input-color: #fff;
        }
        
        :host paper-item {
            color: var(--secondary-text-color);
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .037);
            cursor: pointer;
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        :host .paper-header {
            height: 64px;
            padding: 0 16px;
        }
        
        :host .paper-footer {
            height: 56px;
            padding: 0 0 0 16px;
            border-top: 1px solid #ddd;
            margin-top: 8px;
        }
    </style>
    <template>
        <div class="fit layout vertical center-center" hidden$="[[!loadding]]">
            <paper-spinner active="[[loadding]]"></paper-spinner>
        </div>
        <div class="fit layout vertical">
            <paper-header-panel mode="waterfall">
                <paper-toolbar>
                    <paper-input class="flex-auto" no-label-float label="[[translate._01]]" value="{{filterString::input}}">
                        <iron-icon icon="icons:icons:search" style="margin-right:4px" prefix></iron-icon>
                    </paper-input>
                </paper-toolbar>
                <div>
                    <div class="paper-header layout horizontal center">
                        <campus-core-class-picker class="flex-auto" id="classPicker" selected="[[clazz.label]]"></campus-core-class-picker>
                    </div>
                    <template is="dom-repeat" items="[[items]]" filter="{{_filter(filterString)}}">
                        <paper-item on-tap="_selectItem" student>
                            <paper-checkbox checked$="[[item.checked]]" hidden$="[[!multiSelected]]"></paper-checkbox>
                            <div class="flex ellipsis-text">[[item.SeatNo]] [[item.Name]]</div>
                            <div>[[item.StudentNumber]]</div>
                        </paper-item>
                    </template>
                </div>
            </paper-header-panel>
            <div class="paper-footer layout horizontal center" hidden$="[[!multiSelected]]">
                <paper-checkbox id="checkAll" on-change="_checkedAll">[[translate._02]]</paper-checkbox>
                <div class="flex-auto"></div>
                <paper-button on-tap="_selectChecked">[[translate._03]]</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "campus-core-student-list",

            properties: {
                multiSelected: {
                    type: Boolean,
                    value: false
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '姓名, 性別, 學號',
                        '_02': '全部選取',
                        '_03': '確定'
                    },
                    'zh-cn': {
                        '_01': '姓名, 性别, 学号',
                        '_02': '全部选取',
                        '_03': '确定'
                    },
                    'en-us': {
                        '_01': 'Name, Gender, Student No.',
                        '_02': 'Select all',
                        '_03': 'OK'
                    },
                    'vi-vn': {
                        '_01': 'Họ tên, giới tính, số học sinh',
                        '_02': 'Select all',
                        '_03': 'OK'
                    }
                });

                this.$.classPicker.addEventListener('changed', function(e) {
                    e.stopPropagation();

                    this.set('clazz', e.detail);
                    this._getItems();
                }.bind(this));
            },

            /*
             * 重新整理清單
             */
            reload: function() {
                this._getItems();
            },

            _reloadClass: function() {
                this.$.classPicker.reload();
            },

            _getItems: function() {
                this.set('loadding', true);
                this.set('filterString', null);
                this.set('items', []);

                this.$.checkAll.checked = false;

                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Student.GetAbstractList',
                    body: ['<Request><Field><ID/><Name/><Gender/><StudentNumber/><SeatNo/></Field><Condition>', (function() {
                        if (this.clazz.id === 'nonclass')
                            return '<Status>一般</Status><RefClassID></RefClassID>';
                        else if (this.clazz.id === 'deleted')
                            return '<Status>刪除</Status>';
                        else
                            return ['<Status>一般</Status><RefClassID>', this.clazz.id, '</RefClassID>'].join('');
                    }.bind(this))(), '</Condition><Order><SeatNo/></Order></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.StudentList) {
                        var items = [].concat(response.StudentList.Student || []);
                        items.sort(function(x, y) {
                            return Math.ceil(x.SeatNo) - Math.ceil(y.SeatNo);
                        });
                        items.forEach(function(item, idx) {
                            item.idx = idx;
                            item.checked = false;
                        });
                        this.set('items', items);
                    } else
                        this.set('items', []);

                    this.set('loadding', false);
                }.bind(this));
            },

            _selectItem: function(e) {
                if (!this.multiSelected) {
                    this.fire('changed', {
                        id: e.model.item.$.ID,
                        label: e.model.item.Name,
                        target: e.model.item
                    });
                } else {
                    this.set(['items.', e.model.item.idx, '.checked'].join(''), !this.items[e.model.item.idx].checked);
                }
            },

            _selectChecked: function(e) {
                var items = [];
                this.items.forEach(function(item) {
                    if (item.checked) {
                        items.push({
                            id: item.$.ID,
                            label: item.Name,
                            target: item
                        });
                    }
                });

                this.fire('selected', items);
            },

            _filter: function(value) {
                if (!value)
                    return null;
                else {
                    value = value.toLowerCase();
                    return function(item) {
                        return (item.Name.toLowerCase().indexOf(value) !== -1 ||
                            item.Gender.toLowerCase().indexOf(value) !== -1 ||
                            item.StudentNumber.toLowerCase().indexOf(value) !== -1);
                    };
                }
            },

            _checkedAll: function(e) {
                this.items.forEach(function(item, index) {
                    this.set(['items.', index, '.checked'].join(''), e.target.checked);
                }.bind(this));
            }
        });

        /*
         * 每當清單中的選項被選取時，將觸發此事件
         * @event changed
         */

        /*
         * multiSelected = true 選取多筆資料後，將觸發此事件
         * @event selected
         */
    </script>
</dom-module>
