<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="campus-core-student-address.html">
<link rel="import" href="campus-core-student-editor.html">
<link rel="import" href="campus-core-student-list.html">
<link rel="import" href="campus-core-student-parent.html">
<link rel="import" href="campus-core-student-phone.html">
<link rel="import" href="campus-core-student-picker.html">
<link rel="import" href="campus-core-student-relationship.html">
<!--
`campus-core-student-detail`
@demo demo/campus-core-student-detail.html
-->
<dom-module id="campus-core-student-detail">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host .header {
            padding: 0 16px 0 8px;
        }
        
        :host .cell-item {
            margin-top: 16px;
        }
    </style>
    <template>
        <div class="header layout horizontal center">
            <campus-core-student-picker id="picker"></campus-core-student-picker>
            <div class="flex-auto"></div>
            <paper-fab mini icon="icons:add" on-tap="_addNew" style="margin-left:8px;min-width:40px">[[translate._01]]</paper-fab>
        </div>
        <div class="layout vertical">
            <campus-core-student-editor id="editor" student="[[student]]" class="cell-item"></campus-core-student-editor>
            <campus-core-student-phone student="[[student]]" class="cell-item" hidden$="[[onAddNew]]"></campus-core-student-phone>
            <campus-core-student-address student="[[student]]" class="cell-item" hidden$="[[onAddNew]]"></campus-core-student-address>
            <campus-core-student-parent student="[[student]]" class="cell-item" hidden$="[[onAddNew]]"></campus-core-student-parent>
            <campus-core-student-relationship student="[[student]]" class="cell-item" hidden$="[[onAddNew]]"></campus-core-student-relationship>
        </div>
    </template>
    <script>
        Polymer({
            is: 'campus-core-student-detail',

            properties: {
                /*
                 * 編輯的學生
                 */
                student: Object
            },

            behaviors: [Campus.TranslateBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '新增',
                    },
                    'zh-cn': {
                        '_01': '新增',
                    },
                    'en-us': {
                        '_01': 'Add',
                    }
                });

                this.$.picker.addEventListener('changed', function(e) {
                    e.stopPropagation();
                    this.set('student', e.detail);
                    this.set('onAddNew', false);
                }.bind(this));

                this.$.editor.addEventListener('changed', function(e) {
                    e.stopPropagation();
                    this.set('student', e.detail);
                    this.set('onAddNew', false);
                }.bind(this));
            },

            _addNew: function() {
                this.set('student', null);
                this.set('onAddNew', true);

                this.$.editor.addNew();
            }
        });
    </script>
</dom-module>
