<link rel="import" href="campus-core-student-address.html">
<link rel="import" href="campus-core-student-code.html">
<link rel="import" href="campus-core-student-editor.html">
<link rel="import" href="campus-core-student-detail.html">
<link rel="import" href="campus-core-student-import.html">
<link rel="import" href="campus-core-student-list.html">
<link rel="import" href="campus-core-student-parent.html">
<link rel="import" href="campus-core-student-phone.html">
<link rel="import" href="campus-core-student-picker.html">
<link rel="import" href="campus-core-student-relationship.html">
<link rel="import" href="campus-core-student.html">
